#!/bin/sh
# Preserve external appends (vite-plus, etc.); write our zshrc once.
contents=$(cat)
if [ -n "$contents" ]; then
  printf '%s\n' "$contents"
fi
case "$contents" in
  *"mise activate zsh"*) ;;
  *)
    cat <<'ZSHRC_EOF'
{{ includeTemplate "zshrc" . -}}
ZSHRC_EOF
  ;;
esac
