Include ~/.ssh/devboxes.d/*.conf
SendEnv TERM_PROGRAM
{{ if eq .chezmoi.os "darwin" -}}
Host lima-devbox
  User {{ .vm.user }}

Include ~/.lima/*/ssh.config

Host lima
  HostName 127.0.0.1
  Port 60022
  User {{ .vm.user }}
  IdentityFile ~/.lima/_config/user
  IdentitiesOnly yes
  HostKeyAlias lima-devbox
  StrictHostKeyChecking yes
{{ else -}}
Host lima {{ .vm.hostname }} {{ .vm.ip }}
  HostName {{ .vm.ip }}
  User {{ .vm.user }}
  StrictHostKeyChecking accept-new
{{ end -}}
