{
	auto_https disable_redirects
	skip_install_trust
	persist_config off
}

https://*.{{ .proxy.tld }} {
	bind {env.CADDY_BIND}
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	@health {
		host caddy-health.{{ .proxy.tld }}
		path /healthz
	}
	respond @health "ok" 200
	reverse_proxy https://127.0.0.1:9443 {
		header_up Host {host}
		transport http {
			tls_trust_pool file {{ .chezmoi.homeDir }}/.local/state/pitchfork/proxy/ca.pem
			tls_server_name {host}
		}
	}
}
