{
	auto_https disable_redirects
	skip_install_trust
}

{{ $tsIp := output "sh" "-c" "command -v tailscale >/dev/null && tailscale ip -4 2>/dev/null | tr -d ' \n'" }}
{{ if $tsIp }}
https://*.{{ .proxy.tld }} {
	bind {{ $tsIp }}
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	reverse_proxy https://127.0.0.1:9443 {
		header_up Host {host}
		transport http {
			tls_trust_pool file {{ .chezmoi.homeDir }}/.local/state/pitchfork/proxy/ca.pem
			tls_server_name {host}
		}
	}
}
{{ end }}
