{{- $srcery := index .themes "srcery" -}}
background = {{ $srcery.palette.background | quote }}
foreground = {{ $srcery.palette.foreground | quote }}
selection-background = {{ $srcery.palette.selection_bg | quote }}
selection-foreground = {{ $srcery.palette.selection_fg | quote }}
cursor-color = {{ $srcery.palette.cursor | quote }}
cursor-text = {{ $srcery.palette.cursor_text | quote }}
{{- range $i, $c := $srcery.palette.ansi }}
palette = {{ $i }}={{ $c }}
{{- end }}
{{- range $i, $c := $srcery.palette.brights }}
palette = {{ add 8 $i }}={{ $c }}
{{- end }}
